{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Legacy Illdan API Documentation",
    "description" : "Spring REST Docs with Swagger UI.",
    "version" : "1.0.0"
  },
  "servers" : [ {
    "url" : "https://prev-illdan.store"
  } ],
  "tags" : [ ],
  "paths" : {
    "/auth/login" : {
      "post" : {
        "tags" : [ "Auth API" ],
        "summary" : "사용자가 로그인한다.",
        "description" : "사용자가 로그인한다.",
        "operationId" : "auth/login",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/LoginRequestSchema"
              },
              "examples" : {
                "auth/login" : {
                  "value" : "{\n  \"socialType\" : \"KAKAO\",\n  \"accessToken\" : \"access-token\",\n  \"mobileType\" : \"IOS\",\n  \"clientId\" : \"client-id\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LoginResponseSchema"
                },
                "examples" : {
                  "auth/login" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"GLOBAL-200\",\n  \"message\" : \"요청 응답에 성공했습니다.\",\n  \"result\" : {\n    \"accessToken\" : \"access-token\",\n    \"refreshToken\" : \"refresh-token\",\n    \"isNewUser\" : true,\n    \"userId\" : 1\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/logout" : {
      "post" : {
        "tags" : [ "Auth API" ],
        "summary" : "사용자가 로그아웃한다.",
        "description" : "사용자가 로그아웃한다.",
        "operationId" : "auth/logout",
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LogoutResponseSchema"
                },
                "examples" : {
                  "auth/logout" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"GLOBAL-200\",\n  \"message\" : \"요청 응답에 성공했습니다.\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/refresh" : {
      "post" : {
        "tags" : [ "Auth API" ],
        "summary" : "토큰을 갱신한다.",
        "description" : "토큰을 갱신한다.",
        "operationId" : "auth/refresh",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/ReissueTokenRequestSchema"
              },
              "examples" : {
                "auth/refresh" : {
                  "value" : "{\n  \"accessToken\" : \"access-token\",\n  \"refreshToken\" : \"refresh-token\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TokenPairResponseSchema"
                },
                "examples" : {
                  "auth/refresh" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"GLOBAL-200\",\n  \"message\" : \"요청 응답에 성공했습니다.\",\n  \"result\" : {\n    \"accessToken\" : \"new-access-token\",\n    \"refreshToken\" : \"new-refresh-token\"\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/backlog" : {
      "post" : {
        "tags" : [ "Todo-Backlog API" ],
        "summary" : "백로그를 생성한다.",
        "description" : "백로그를 생성한다.",
        "operationId" : "backlog/create-backlog",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/BacklogCreateRequest"
              },
              "examples" : {
                "backlog/create-backlog" : {
                  "value" : "{\n  \"content\" : \"New Backlog\",\n  \"categoryId\" : 1\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BacklogCreateResponse"
                },
                "examples" : {
                  "backlog/create-backlog" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"GLOBAL-200\",\n  \"message\" : \"요청 응답에 성공했습니다.\",\n  \"result\" : {\n    \"todoId\" : 1\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/backlogs" : {
      "get" : {
        "tags" : [ "Todo-Backlog API" ],
        "summary" : "백로그 목록을 조회한다.",
        "description" : "백로그 목록을 조회한다.",
        "operationId" : "backlog/get-backlogs",
        "parameters" : [ {
          "name" : "category",
          "in" : "query",
          "description" : "카테고리 ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "요청 페이지 번호",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "페이지 크기",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BacklogListResponse"
                },
                "examples" : {
                  "backlog/get-backlogs" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"GLOBAL-200\",\n  \"message\" : \"요청 응답에 성공했습니다.\",\n  \"result\" : {\n    \"totalCount\" : 10,\n    \"categoryName\" : \"Sample Category\",\n    \"backlogs\" : [ ],\n    \"totalPageCount\" : 1\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/calendar" : {
      "get" : {
        "tags" : [ "Todo API" ],
        "summary" : "특정 연도 및 월의 할 일 히스토리 날짜 목록을 조회한다.",
        "description" : "특정 연도 및 월의 할 일 히스토리 날짜 목록을 조회한다.",
        "operationId" : "todo/get-history-calendar",
        "parameters" : [ {
          "name" : "year",
          "in" : "query",
          "description" : "조회할 연도 (YYYY)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "month",
          "in" : "query",
          "description" : "조회할 월 (1~12)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HistoryCalendarListResponse"
                },
                "examples" : {
                  "todo/get-history-calendar" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"GLOBAL-200\",\n  \"message\" : \"요청 응답에 성공했습니다.\",\n  \"result\" : {\n    \"dates\" : [ \"2025-01-01\", \"2025-01-15\" ]\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/category" : {
      "post" : {
        "tags" : [ "Category API" ],
        "summary" : "카테고리를 생성한다.",
        "description" : "카테고리를 생성한다.",
        "operationId" : "category/create",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/CategoryCreateRequest"
              },
              "examples" : {
                "category/create" : {
                  "value" : "{\n  \"name\" : \"Work\",\n  \"emojiId\" : 101\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CategoryCreateResponse"
                },
                "examples" : {
                  "category/create" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"GLOBAL-200\",\n  \"message\" : \"요청 응답에 성공했습니다.\",\n  \"result\" : {\n    \"categoryId\" : 1\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/category/dragAndDrop" : {
      "patch" : {
        "tags" : [ "Category API" ],
        "summary" : "카테고리를 드래그 앤 드롭한다.",
        "description" : "카테고리를 드래그 앤 드롭한다.",
        "operationId" : "category/dragAndDrop",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/CategoryDragAndDropRequest"
              },
              "examples" : {
                "category/dragAndDrop" : {
                  "value" : "{\n  \"categoryIds\" : [ 1, 2 ]\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BaseResponse"
                },
                "examples" : {
                  "category/dragAndDrop" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"GLOBAL-200\",\n  \"message\" : \"요청 응답에 성공했습니다.\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/category/list" : {
      "get" : {
        "tags" : [ "Category API" ],
        "summary" : "카테고리 목록을 조회한다.",
        "description" : "카테고리 목록을 조회한다.",
        "operationId" : "category/list",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "페이지 번호",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "페이지 크기",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CategoryListResponse"
                },
                "examples" : {
                  "category/list" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"GLOBAL-200\",\n  \"message\" : \"요청 응답에 성공했습니다.\",\n  \"result\" : {\n    \"categories\" : [ {\n      \"id\" : 1,\n      \"name\" : \"Work\",\n      \"emojiId\" : 101,\n      \"imageUrl\" : \"http://emoji.url/1\"\n    }, {\n      \"id\" : 2,\n      \"name\" : \"Personal\",\n      \"emojiId\" : 102,\n      \"imageUrl\" : \"http://emoji.url/2\"\n    } ],\n    \"totalPageCount\" : 1\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/category/{categoryId}" : {
      "put" : {
        "tags" : [ "Category API" ],
        "summary" : "카테고리를 수정한다.",
        "description" : "카테고리를 수정한다.",
        "operationId" : "category/update",
        "parameters" : [ {
          "name" : "categoryId",
          "in" : "path",
          "description" : "수정할 카테고리 ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/CategoryUpdateRequest"
              },
              "examples" : {
                "category/update" : {
                  "value" : "{\n  \"name\" : \"Updated Work\",\n  \"emojiId\" : 105\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BaseResponse"
                },
                "examples" : {
                  "category/update" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"GLOBAL-200\",\n  \"message\" : \"요청 응답에 성공했습니다.\"\n}"
                  }
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Category API" ],
        "summary" : "카테고리를 삭제한다.",
        "description" : "카테고리를 삭제한다.",
        "operationId" : "category/delete",
        "parameters" : [ {
          "name" : "categoryId",
          "in" : "path",
          "description" : "삭제할 카테고리 ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BaseResponse"
                },
                "examples" : {
                  "category/delete" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"GLOBAL-200\",\n  \"message\" : \"요청 응답에 성공했습니다.\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/emojis" : {
      "get" : {
        "tags" : [ "Emoji API" ],
        "summary" : "이모지 목록을 조회한다.",
        "description" : "이모지 목록을 조회한다.",
        "operationId" : "emojis/get-emojis",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "요청 페이지 번호",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "페이지당 항목 수",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EmojiResponseSchema"
                },
                "examples" : {
                  "emojis/get-emojis" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"GLOBAL-200\",\n  \"message\" : \"요청 응답에 성공했습니다.\",\n  \"result\" : {\n    \"groupEmojis\" : {\n      \"Group1\" : [ {\n        \"emojiId\" : 1,\n        \"imageUrl\" : \"url1\"\n      }, {\n        \"emojiId\" : 2,\n        \"imageUrl\" : \"url2\"\n      } ],\n      \"Group2\" : [ {\n        \"emojiId\" : 3,\n        \"imageUrl\" : \"url3\"\n      } ]\n    },\n    \"totalPageCount\" : 2\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/histories" : {
      "get" : {
        "tags" : [ "Todo API" ],
        "summary" : "특정 날짜의 할 일 히스토리를 조회한다.",
        "description" : "특정 날짜의 할 일 히스토리를 조회한다.",
        "operationId" : "todo/get-histories",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "요청 페이지 번호",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "한 페이지당 항목 수",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "date",
          "in" : "query",
          "description" : "조회할 날짜 (YYYY-MM-DD)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedHistoryResponse"
                },
                "examples" : {
                  "todo/get-histories" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"GLOBAL-200\",\n  \"message\" : \"요청 응답에 성공했습니다.\",\n  \"result\" : {\n    \"histories\" : [ ],\n    \"totalPageCount\" : 2\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/policy" : {
      "get" : {
        "tags" : [ "Policy API" ],
        "summary" : "개인정보 처리방침을 조회한다.",
        "description" : "개인정보 처리방침을 조회한다.",
        "operationId" : "policy/get-policy",
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PolicyResponseSchema"
                },
                "examples" : {
                  "policy/get-policy" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"GLOBAL-200\",\n  \"message\" : \"요청 응답에 성공했습니다.\",\n  \"result\" : {\n    \"id\" : 1,\n    \"content\" : \"This is the privacy policy content.\",\n    \"createdAt\" : \"2025-01-29T15:44:01.598405\"\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/swipe" : {
      "patch" : {
        "tags" : [ "Todo API" ],
        "summary" : "할 일 상태를 스와이프한다.",
        "description" : "할 일 상태를 스와이프한다.",
        "operationId" : "todo/swipe",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/swipe1184060564"
              },
              "examples" : {
                "todo/swipe" : {
                  "value" : "{\n  \"todoId\" : 1\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BaseResponse"
                },
                "examples" : {
                  "todo/swipe" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"GLOBAL-200\",\n  \"message\" : \"요청 응답에 성공했습니다.\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/todays" : {
      "get" : {
        "tags" : [ "Todo-Today API" ],
        "summary" : "오늘의 할 일 목록을 조회한다.",
        "description" : "오늘의 할 일 목록을 조회한다.",
        "operationId" : "todo/get-todays",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "요청 페이지 번호",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "한 페이지당 항목 수",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetTodayListResponse"
                },
                "examples" : {
                  "todo/get-todays" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"GLOBAL-200\",\n  \"message\" : \"요청 응답에 성공했습니다.\",\n  \"result\" : {\n    \"date\" : \"2025-01-29\",\n    \"todays\" : [ ],\n    \"totalPageCount\" : 2\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/todo/dragAndDrop" : {
      "patch" : {
        "tags" : [ "Todo API" ],
        "summary" : "할 일 순서를 드래그 앤 드롭 방식으로 변경한다.",
        "description" : "할 일 순서를 드래그 앤 드롭 방식으로 변경한다.",
        "operationId" : "todo/drag-and-drop",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/todo-dragAndDrop445448186"
              },
              "examples" : {
                "todo/drag-and-drop" : {
                  "value" : "{\n  \"type\" : \"TODAY\",\n  \"todoIds\" : [ 1, 2, 3 ]\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BaseResponse"
                },
                "examples" : {
                  "todo/drag-and-drop" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"GLOBAL-200\",\n  \"message\" : \"요청 응답에 성공했습니다.\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/todo/{todoId}" : {
      "get" : {
        "tags" : [ "Todo API" ],
        "summary" : "할 일의 상세 정보를 조회한다.",
        "description" : "할 일의 상세 정보를 조회한다.",
        "operationId" : "todo/get-detail",
        "parameters" : [ {
          "name" : "todoId",
          "in" : "path",
          "description" : "조회할 할 일 ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TodoDetailResponse"
                },
                "examples" : {
                  "todo/get-detail" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"GLOBAL-200\",\n  \"message\" : \"요청 응답에 성공했습니다.\",\n  \"result\" : {\n    \"content\" : \"할 일 내용\",\n    \"deadline\" : \"2025-01-30\",\n    \"categoryName\" : \"개발\",\n    \"emojiImageUrl\" : \"http://example.com/emoji.png\",\n    \"isBookmark\" : true,\n    \"isRepeat\" : false\n  }\n}"
                  }
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Todo API" ],
        "summary" : "할 일을 삭제한다.",
        "description" : "할 일을 삭제한다.",
        "operationId" : "todo/delete",
        "parameters" : [ {
          "name" : "todoId",
          "in" : "path",
          "description" : "삭제할 할 일 ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BaseResponse"
                },
                "examples" : {
                  "todo/delete" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"GLOBAL-200\",\n  \"message\" : \"요청 응답에 성공했습니다.\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/todo/{todoId}/achieve" : {
      "patch" : {
        "tags" : [ "Todo API" ],
        "summary" : "할 일의 완료 상태를 업데이트한다.",
        "description" : "할 일의 완료 상태를 업데이트한다.",
        "operationId" : "todo/update-achieve",
        "parameters" : [ {
          "name" : "todoId",
          "in" : "path",
          "description" : "완료 상태로 변경할 할 일 ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BaseResponse"
                },
                "examples" : {
                  "todo/update-achieve" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"GLOBAL-200\",\n  \"message\" : \"요청 응답에 성공했습니다.\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/todo/{todoId}/bookmark" : {
      "patch" : {
        "tags" : [ "Todo API" ],
        "summary" : "할 일 즐겨찾기 상태를 토글한다.",
        "description" : "할 일 즐겨찾기 상태를 토글한다.",
        "operationId" : "todo/toggle-bookmark",
        "parameters" : [ {
          "name" : "todoId",
          "in" : "path",
          "description" : "즐겨찾기 상태를 변경할 할 일 ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BaseResponse"
                },
                "examples" : {
                  "todo/toggle-bookmark" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"GLOBAL-200\",\n  \"message\" : \"요청 응답에 성공했습니다.\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/todo/{todoId}/category" : {
      "patch" : {
        "tags" : [ "Todo API" ],
        "summary" : "할 일의 카테고리를 변경한다.",
        "description" : "할 일의 카테고리를 변경한다.",
        "operationId" : "todo/update-category",
        "parameters" : [ {
          "name" : "todoId",
          "in" : "path",
          "description" : "카테고리를 변경할 할 일 ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/todo-todoId-category-990677008"
              },
              "examples" : {
                "todo/update-category" : {
                  "value" : "{\n  \"categoryId\" : 2\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BaseResponse"
                },
                "examples" : {
                  "todo/update-category" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"GLOBAL-200\",\n  \"message\" : \"요청 응답에 성공했습니다.\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/todo/{todoId}/content" : {
      "patch" : {
        "tags" : [ "Todo API" ],
        "summary" : "할 일의 내용을 수정한다.",
        "description" : "할 일의 내용을 수정한다.",
        "operationId" : "todo/update-content",
        "parameters" : [ {
          "name" : "todoId",
          "in" : "path",
          "description" : "내용을 변경할 할 일 ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/todo-todoId-content-1280985494"
              },
              "examples" : {
                "todo/update-content" : {
                  "value" : "{\n  \"content\" : \"새로운 할 일 내용\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BaseResponse"
                },
                "examples" : {
                  "todo/update-content" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"GLOBAL-200\",\n  \"message\" : \"요청 응답에 성공했습니다.\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/todo/{todoId}/deadline" : {
      "patch" : {
        "tags" : [ "Todo API" ],
        "summary" : "할 일의 마감 기한을 업데이트한다.",
        "description" : "할 일의 마감 기한을 업데이트한다.",
        "operationId" : "todo/update-deadline",
        "parameters" : [ {
          "name" : "todoId",
          "in" : "path",
          "description" : "마감 기한을 변경할 할 일 ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/todo-todoId-deadline1579767182"
              },
              "examples" : {
                "todo/update-deadline" : {
                  "value" : "{\n  \"deadline\" : \"2025-02-01\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BaseResponse"
                },
                "examples" : {
                  "todo/update-deadline" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"GLOBAL-200\",\n  \"message\" : \"요청 응답에 성공했습니다.\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/todo/{todoId}/repeat" : {
      "patch" : {
        "tags" : [ "Todo API" ],
        "summary" : "할 일의 반복 설정을 업데이트한다.",
        "description" : "할 일의 반복 설정을 업데이트한다.",
        "operationId" : "todo/update-repeat",
        "parameters" : [ {
          "name" : "todoId",
          "in" : "path",
          "description" : "반복 설정을 변경할 할 일 ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BaseResponse"
                },
                "examples" : {
                  "todo/update-repeat" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"GLOBAL-200\",\n  \"message\" : \"요청 응답에 성공했습니다.\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user/delete" : {
      "post" : {
        "tags" : [ "User API" ],
        "summary" : "사용자가 탈퇴 요청을 보낸다.",
        "description" : "사용자가 탈퇴 요청을 보낸다.",
        "operationId" : "user/delete-user",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/UserDeleteRequestSchema"
              },
              "examples" : {
                "user/delete-user" : {
                  "value" : "{\n  \"reasons\" : [ \"NOT_USED_OFTEN\" ],\n  \"userInputReason\" : \"Other reason\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SuccessResponseSchema"
                },
                "examples" : {
                  "user/delete-user" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"GLOBAL-200\",\n  \"message\" : \"요청 응답에 성공했습니다.\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user/mypage" : {
      "get" : {
        "tags" : [ "User API" ],
        "summary" : "사용자가 마이페이지 정보를 조회한다.",
        "description" : "사용자가 마이페이지 정보를 조회한다.",
        "operationId" : "user/get-user-info",
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserInfoResponseSchema"
                },
                "examples" : {
                  "user/get-user-info" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"GLOBAL-200\",\n  \"message\" : \"요청 응답에 성공했습니다.\",\n  \"result\" : {\n    \"name\" : \"John Doe\",\n    \"email\" : \"john.doe@example.com\",\n    \"imageUrl\" : \"http://example.com/image.jpg\"\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/yesterdays" : {
      "get" : {
        "tags" : [ "Todo-Backlog API" ],
        "summary" : "어제의 백로그를 조회한다.",
        "description" : "어제의 백로그를 조회한다.",
        "operationId" : "backlog/get-yesterdays",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "요청 페이지 번호",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "페이지 크기",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaginatedYesterdayResponse"
                },
                "examples" : {
                  "backlog/get-yesterdays" : {
                    "value" : "{\n  \"isSuccess\" : true,\n  \"code\" : \"GLOBAL-200\",\n  \"message\" : \"요청 응답에 성공했습니다.\",\n  \"result\" : {\n    \"yesterdays\" : [ ],\n    \"totalPageCount\" : 1\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "todo-todoId-category-990677008" : {
        "required" : [ "categoryId" ],
        "type" : "object",
        "properties" : {
          "categoryId" : {
            "type" : "number",
            "description" : "새로운 카테고리 ID"
          }
        }
      },
      "LogoutResponseSchema" : {
        "title" : "LogoutResponseSchema",
        "required" : [ "code", "isSuccess", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "응답 코드"
          },
          "message" : {
            "type" : "string",
            "description" : "응답 메시지"
          },
          "isSuccess" : {
            "type" : "boolean",
            "description" : "성공 여부"
          }
        }
      },
      "HistoryCalendarListResponse" : {
        "title" : "HistoryCalendarListResponse",
        "required" : [ "code", "isSuccess", "message" ],
        "type" : "object",
        "properties" : {
          "result" : {
            "required" : [ "dates" ],
            "type" : "object",
            "properties" : {
              "dates" : {
                "type" : "array",
                "description" : "히스토리가 있는 날짜 목록 (YYYY-MM-DD)",
                "items" : {
                  "oneOf" : [ {
                    "type" : "object"
                  }, {
                    "type" : "boolean"
                  }, {
                    "type" : "string"
                  }, {
                    "type" : "number"
                  } ]
                }
              }
            }
          },
          "code" : {
            "type" : "string",
            "description" : "응답 코드"
          },
          "message" : {
            "type" : "string",
            "description" : "응답 메시지"
          },
          "isSuccess" : {
            "type" : "boolean",
            "description" : "성공 여부"
          }
        }
      },
      "swipe1184060564" : {
        "required" : [ "todoId" ],
        "type" : "object",
        "properties" : {
          "todoId" : {
            "type" : "number",
            "description" : "스와이프할 할 일 ID"
          }
        }
      },
      "LoginRequestSchema" : {
        "title" : "LoginRequestSchema",
        "required" : [ "accessToken", "clientId", "mobileType", "socialType" ],
        "type" : "object",
        "properties" : {
          "clientId" : {
            "type" : "string",
            "description" : "클라이언트 ID"
          },
          "mobileType" : {
            "type" : "string",
            "description" : "모바일 타입 (예: IOS, ANDROID)"
          },
          "socialType" : {
            "type" : "string",
            "description" : "소셜 타입 (예: KAKAO, APPLE)"
          },
          "accessToken" : {
            "type" : "string",
            "description" : "소셜 인증 액세스 토큰"
          }
        }
      },
      "TodoDetailResponse" : {
        "title" : "TodoDetailResponse",
        "required" : [ "code", "isSuccess", "message" ],
        "type" : "object",
        "properties" : {
          "result" : {
            "required" : [ "categoryName", "content", "deadline", "emojiImageUrl", "isBookmark", "isRepeat" ],
            "type" : "object",
            "properties" : {
              "isRepeat" : {
                "type" : "boolean",
                "description" : "반복 설정 여부"
              },
              "emojiImageUrl" : {
                "type" : "string",
                "description" : "카테고리 이모지 이미지 URL"
              },
              "deadline" : {
                "type" : "string",
                "description" : "마감 기한"
              },
              "categoryName" : {
                "type" : "string",
                "description" : "카테고리 이름"
              },
              "content" : {
                "type" : "string",
                "description" : "할 일 내용"
              },
              "isBookmark" : {
                "type" : "boolean",
                "description" : "즐겨찾기 여부"
              }
            }
          },
          "code" : {
            "type" : "string",
            "description" : "응답 코드"
          },
          "message" : {
            "type" : "string",
            "description" : "응답 메시지"
          },
          "isSuccess" : {
            "type" : "boolean",
            "description" : "성공 여부"
          }
        }
      },
      "todo-todoId-content-1280985494" : {
        "required" : [ "content" ],
        "type" : "object",
        "properties" : {
          "content" : {
            "type" : "string",
            "description" : "새로운 할 일 내용"
          }
        }
      },
      "EmojiResponseSchema" : {
        "title" : "EmojiResponseSchema",
        "required" : [ "code", "isSuccess", "message" ],
        "type" : "object",
        "properties" : {
          "result" : {
            "required" : [ "groupEmojis", "totalPageCount" ],
            "type" : "object",
            "properties" : {
              "groupEmojis" : {
                "type" : "object",
                "properties" : {
                  "*" : {
                    "type" : "array",
                    "items" : {
                      "required" : [ "emojiId", "imageUrl" ],
                      "type" : "object",
                      "properties" : {
                        "emojiId" : {
                          "type" : "number",
                          "description" : "이모지 ID"
                        },
                        "imageUrl" : {
                          "type" : "string",
                          "description" : "이모지 이미지 URL"
                        }
                      }
                    }
                  }
                },
                "description" : "그룹화된 이모지 목록"
              },
              "totalPageCount" : {
                "type" : "number",
                "description" : "전체 페이지 수"
              }
            }
          },
          "code" : {
            "type" : "string",
            "description" : "응답 코드"
          },
          "message" : {
            "type" : "string",
            "description" : "응답 메시지"
          },
          "isSuccess" : {
            "type" : "boolean",
            "description" : "성공 여부"
          }
        }
      },
      "CategoryListResponse" : {
        "title" : "CategoryListResponse",
        "required" : [ "code", "isSuccess", "message" ],
        "type" : "object",
        "properties" : {
          "result" : {
            "required" : [ "totalPageCount" ],
            "type" : "object",
            "properties" : {
              "totalPageCount" : {
                "type" : "number",
                "description" : "총 페이지 수"
              },
              "categories" : {
                "type" : "array",
                "items" : {
                  "required" : [ "emojiId", "id", "imageUrl", "name" ],
                  "type" : "object",
                  "properties" : {
                    "emojiId" : {
                      "type" : "number",
                      "description" : "이모지 ID"
                    },
                    "imageUrl" : {
                      "type" : "string",
                      "description" : "이모지 이미지 URL"
                    },
                    "name" : {
                      "type" : "string",
                      "description" : "카테고리 이름"
                    },
                    "id" : {
                      "type" : "number",
                      "description" : "카테고리 ID"
                    }
                  }
                }
              }
            }
          },
          "code" : {
            "type" : "string",
            "description" : "응답 코드"
          },
          "message" : {
            "type" : "string",
            "description" : "응답 메시지"
          },
          "isSuccess" : {
            "type" : "boolean",
            "description" : "성공 여부"
          }
        }
      },
      "CategoryDragAndDropRequest" : {
        "title" : "CategoryDragAndDropRequest",
        "required" : [ "categoryIds" ],
        "type" : "object",
        "properties" : {
          "categoryIds" : {
            "type" : "array",
            "description" : "순서를 변경할 카테고리 ID 리스트",
            "items" : {
              "oneOf" : [ {
                "type" : "object"
              }, {
                "type" : "boolean"
              }, {
                "type" : "string"
              }, {
                "type" : "number"
              } ]
            }
          }
        }
      },
      "LoginResponseSchema" : {
        "title" : "LoginResponseSchema",
        "required" : [ "code", "isSuccess", "message" ],
        "type" : "object",
        "properties" : {
          "result" : {
            "required" : [ "accessToken", "isNewUser", "refreshToken", "userId" ],
            "type" : "object",
            "properties" : {
              "isNewUser" : {
                "type" : "boolean",
                "description" : "신규 유저 여부"
              },
              "accessToken" : {
                "type" : "string",
                "description" : "발급된 액세스 토큰"
              },
              "userId" : {
                "type" : "number",
                "description" : "유저 ID"
              },
              "refreshToken" : {
                "type" : "string",
                "description" : "발급된 리프레시 토큰"
              }
            }
          },
          "code" : {
            "type" : "string",
            "description" : "응답 코드"
          },
          "message" : {
            "type" : "string",
            "description" : "응답 메시지"
          },
          "isSuccess" : {
            "type" : "boolean",
            "description" : "성공 여부"
          }
        }
      },
      "UserInfoResponseSchema" : {
        "title" : "UserInfoResponseSchema",
        "required" : [ "code", "isSuccess", "message", "result" ],
        "type" : "object",
        "properties" : {
          "result" : {
            "required" : [ "email", "imageUrl", "name" ],
            "type" : "object",
            "properties" : {
              "imageUrl" : {
                "type" : "string",
                "description" : "사용자 프로필 이미지 URL"
              },
              "name" : {
                "type" : "string",
                "description" : "사용자 이름"
              },
              "email" : {
                "type" : "string",
                "description" : "사용자 이메일"
              }
            },
            "description" : "응답 데이터"
          },
          "code" : {
            "type" : "string",
            "description" : "응답 코드"
          },
          "message" : {
            "type" : "string",
            "description" : "응답 메시지"
          },
          "isSuccess" : {
            "type" : "boolean",
            "description" : "성공 여부"
          }
        }
      },
      "todo-todoId-deadline1579767182" : {
        "required" : [ "deadline" ],
        "type" : "object",
        "properties" : {
          "deadline" : {
            "type" : "string",
            "description" : "새로운 마감 기한 (YYYY-MM-DD)"
          }
        }
      },
      "UserDeleteRequestSchema" : {
        "title" : "UserDeleteRequestSchema",
        "required" : [ "reasons" ],
        "type" : "object",
        "properties" : {
          "userInputReason" : {
            "type" : "string",
            "description" : "직접 입력한 탈퇴 이유",
            "nullable" : true
          },
          "reasons" : {
            "type" : "array",
            "description" : "탈퇴 이유 목록",
            "items" : {
              "oneOf" : [ {
                "type" : "object"
              }, {
                "type" : "boolean"
              }, {
                "type" : "string"
              }, {
                "type" : "number"
              } ]
            }
          }
        }
      },
      "PolicyResponseSchema" : {
        "title" : "PolicyResponseSchema",
        "required" : [ "code", "isSuccess", "message" ],
        "type" : "object",
        "properties" : {
          "result" : {
            "required" : [ "content", "createdAt", "id" ],
            "type" : "object",
            "properties" : {
              "createdAt" : {
                "type" : "string",
                "description" : "정책 생성 날짜"
              },
              "id" : {
                "type" : "number",
                "description" : "정책 ID"
              },
              "content" : {
                "type" : "string",
                "description" : "정책 내용"
              }
            }
          },
          "code" : {
            "type" : "string",
            "description" : "응답 코드"
          },
          "message" : {
            "type" : "string",
            "description" : "응답 메시지"
          },
          "isSuccess" : {
            "type" : "boolean",
            "description" : "성공 여부"
          }
        }
      },
      "SuccessResponseSchema" : {
        "title" : "SuccessResponseSchema",
        "required" : [ "code", "isSuccess", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "응답 코드"
          },
          "message" : {
            "type" : "string",
            "description" : "응답 메시지"
          },
          "isSuccess" : {
            "type" : "boolean",
            "description" : "성공 여부"
          }
        }
      },
      "ReissueTokenRequestSchema" : {
        "title" : "ReissueTokenRequestSchema",
        "required" : [ "accessToken", "refreshToken" ],
        "type" : "object",
        "properties" : {
          "accessToken" : {
            "type" : "string",
            "description" : "기존 액세스 토큰"
          },
          "refreshToken" : {
            "type" : "string",
            "description" : "리프레시 토큰"
          }
        }
      },
      "TokenPairResponseSchema" : {
        "title" : "TokenPairResponseSchema",
        "required" : [ "code", "isSuccess", "message" ],
        "type" : "object",
        "properties" : {
          "result" : {
            "required" : [ "accessToken", "refreshToken" ],
            "type" : "object",
            "properties" : {
              "accessToken" : {
                "type" : "string",
                "description" : "새로 발급된 액세스 토큰"
              },
              "refreshToken" : {
                "type" : "string",
                "description" : "새로 발급된 리프레시 토큰"
              }
            }
          },
          "code" : {
            "type" : "string",
            "description" : "응답 코드"
          },
          "message" : {
            "type" : "string",
            "description" : "응답 메시지"
          },
          "isSuccess" : {
            "type" : "boolean",
            "description" : "성공 여부"
          }
        }
      },
      "CategoryCreateRequest" : {
        "title" : "CategoryCreateRequest",
        "required" : [ "emojiId", "name" ],
        "type" : "object",
        "properties" : {
          "emojiId" : {
            "type" : "number",
            "description" : "이모지 ID"
          },
          "name" : {
            "type" : "string",
            "description" : "카테고리 이름"
          }
        }
      },
      "PaginatedYesterdayResponse" : {
        "title" : "PaginatedYesterdayResponse",
        "required" : [ "code", "isSuccess", "message" ],
        "type" : "object",
        "properties" : {
          "result" : {
            "required" : [ "totalPageCount", "yesterdays" ],
            "type" : "object",
            "properties" : {
              "totalPageCount" : {
                "type" : "number",
                "description" : "전체 페이지 수"
              },
              "yesterdays" : {
                "type" : "array",
                "description" : "어제의 백로그 목록",
                "items" : {
                  "oneOf" : [ {
                    "type" : "object"
                  }, {
                    "type" : "boolean"
                  }, {
                    "type" : "string"
                  }, {
                    "type" : "number"
                  } ]
                }
              }
            }
          },
          "code" : {
            "type" : "string",
            "description" : "응답 코드"
          },
          "message" : {
            "type" : "string",
            "description" : "응답 메시지"
          },
          "isSuccess" : {
            "type" : "boolean",
            "description" : "성공 여부"
          }
        }
      },
      "BacklogCreateResponse" : {
        "title" : "BacklogCreateResponse",
        "required" : [ "code", "isSuccess", "message" ],
        "type" : "object",
        "properties" : {
          "result" : {
            "required" : [ "todoId" ],
            "type" : "object",
            "properties" : {
              "todoId" : {
                "type" : "number",
                "description" : "생성된 백로그 ID"
              }
            }
          },
          "code" : {
            "type" : "string",
            "description" : "응답 코드"
          },
          "message" : {
            "type" : "string",
            "description" : "응답 메시지"
          },
          "isSuccess" : {
            "type" : "boolean",
            "description" : "성공 여부"
          }
        }
      },
      "GetTodayListResponse" : {
        "title" : "GetTodayListResponse",
        "required" : [ "code", "isSuccess", "message" ],
        "type" : "object",
        "properties" : {
          "result" : {
            "required" : [ "date", "todays", "totalPageCount" ],
            "type" : "object",
            "properties" : {
              "date" : {
                "type" : "string",
                "description" : "조회된 날짜"
              },
              "totalPageCount" : {
                "type" : "number",
                "description" : "전체 페이지 수"
              },
              "todays" : {
                "type" : "array",
                "description" : "오늘의 할 일 목록",
                "items" : {
                  "oneOf" : [ {
                    "type" : "object"
                  }, {
                    "type" : "boolean"
                  }, {
                    "type" : "string"
                  }, {
                    "type" : "number"
                  } ]
                }
              }
            }
          },
          "code" : {
            "type" : "string",
            "description" : "응답 코드"
          },
          "message" : {
            "type" : "string",
            "description" : "응답 메시지"
          },
          "isSuccess" : {
            "type" : "boolean",
            "description" : "성공 여부"
          }
        }
      },
      "BacklogListResponse" : {
        "title" : "BacklogListResponse",
        "required" : [ "code", "isSuccess", "message" ],
        "type" : "object",
        "properties" : {
          "result" : {
            "required" : [ "backlogs", "categoryName", "totalCount", "totalPageCount" ],
            "type" : "object",
            "properties" : {
              "backlogs" : {
                "type" : "array",
                "description" : "백로그 목록",
                "items" : {
                  "oneOf" : [ {
                    "type" : "object"
                  }, {
                    "type" : "boolean"
                  }, {
                    "type" : "string"
                  }, {
                    "type" : "number"
                  } ]
                }
              },
              "totalPageCount" : {
                "type" : "number",
                "description" : "전체 페이지 수"
              },
              "totalCount" : {
                "type" : "number",
                "description" : "백로그 총 개수"
              },
              "categoryName" : {
                "type" : "string",
                "description" : "카테고리 이름"
              }
            }
          },
          "code" : {
            "type" : "string",
            "description" : "응답 코드"
          },
          "message" : {
            "type" : "string",
            "description" : "응답 메시지"
          },
          "isSuccess" : {
            "type" : "boolean",
            "description" : "성공 여부"
          }
        }
      },
      "CategoryUpdateRequest" : {
        "title" : "CategoryUpdateRequest",
        "required" : [ "emojiId", "name" ],
        "type" : "object",
        "properties" : {
          "emojiId" : {
            "type" : "number",
            "description" : "이모지 ID"
          },
          "name" : {
            "type" : "string",
            "description" : "카테고리 이름"
          }
        }
      },
      "todo-dragAndDrop445448186" : {
        "required" : [ "todoIds", "type" ],
        "type" : "object",
        "properties" : {
          "todoIds" : {
            "type" : "array",
            "description" : "새로운 순서대로 정렬된 할 일 ID 목록",
            "items" : {
              "oneOf" : [ {
                "type" : "object"
              }, {
                "type" : "boolean"
              }, {
                "type" : "string"
              }, {
                "type" : "number"
              } ]
            }
          },
          "type" : {
            "type" : "string",
            "description" : "변경할 할 일의 타입 (TODAY, BACKLOG 등)"
          }
        }
      },
      "BacklogCreateRequest" : {
        "title" : "BacklogCreateRequest",
        "required" : [ "categoryId", "content" ],
        "type" : "object",
        "properties" : {
          "categoryId" : {
            "type" : "number",
            "description" : "카테고리 ID"
          },
          "content" : {
            "type" : "string",
            "description" : "백로그 내용"
          }
        }
      },
      "BaseResponse" : {
        "title" : "BaseResponse",
        "required" : [ "code", "isSuccess", "message" ],
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "응답 코드"
          },
          "message" : {
            "type" : "string",
            "description" : "응답 메시지"
          },
          "isSuccess" : {
            "type" : "boolean",
            "description" : "성공 여부"
          }
        }
      },
      "CategoryCreateResponse" : {
        "title" : "CategoryCreateResponse",
        "required" : [ "code", "isSuccess", "message" ],
        "type" : "object",
        "properties" : {
          "result" : {
            "required" : [ "categoryId" ],
            "type" : "object",
            "properties" : {
              "categoryId" : {
                "type" : "number",
                "description" : "생성된 카테고리 ID"
              }
            }
          },
          "code" : {
            "type" : "string",
            "description" : "응답 코드"
          },
          "message" : {
            "type" : "string",
            "description" : "응답 메시지"
          },
          "isSuccess" : {
            "type" : "boolean",
            "description" : "성공 여부"
          }
        }
      },
      "PaginatedHistoryResponse" : {
        "title" : "PaginatedHistoryResponse",
        "required" : [ "code", "isSuccess", "message" ],
        "type" : "object",
        "properties" : {
          "result" : {
            "required" : [ "histories", "totalPageCount" ],
            "type" : "object",
            "properties" : {
              "totalPageCount" : {
                "type" : "number",
                "description" : "전체 페이지 수"
              },
              "histories" : {
                "type" : "array",
                "description" : "히스토리 목록",
                "items" : {
                  "oneOf" : [ {
                    "type" : "object"
                  }, {
                    "type" : "boolean"
                  }, {
                    "type" : "string"
                  }, {
                    "type" : "number"
                  } ]
                }
              }
            }
          },
          "code" : {
            "type" : "string",
            "description" : "응답 코드"
          },
          "message" : {
            "type" : "string",
            "description" : "응답 메시지"
          },
          "isSuccess" : {
            "type" : "boolean",
            "description" : "성공 여부"
          }
        }
      }
    }
  }
}